.App {
  text-align: center;

}


body{
  background: linear-gradient(to right, #2a292f, #2a292f);
}


.App-header {
  
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3806ef;
}

